*{
  margin: 0px;
  padding: 0px;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.contedor-menu {
  z-index: 999;
  position: absolute;
  background: #fff;
  padding: 10px;
  /* border-radius: 10px; */
  font-weight: 700;
  margin: 0;
  height: 100vh;
  top: 0px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: 0px;
  justify-content: space-evenly;
  transform: translateX(87%);
  transition: .8s all ease;
}

.contedor-menu h3{
  margin-bottom: 10px;
}

.mostrar{
  transform: translateX(0);
  transition: .8s all ease;
}

img.icon-meu {
  position: absolute;
}


.seleccion label,.localidades label, .voluntarios label {
  display: block;
  margin-bottom: 7px;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
}

.localidades {
  top: 100px;
  
}

.voluntarios{
  bottom: 130px;
}

.polvorines:hover{
  color:black;
  background-color: brown;

}

.leaflet-bottom .leaflet-right >.leaflet-control-attribution .leaflet-control{
  display: none!important;
}

@media (max-width: 500px){
  .contedor-menu{
    width: 50vw;
  }

}